#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-header {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  left: 0;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translate(0, 0);
}

.app-header.storyline-active {
  transform: translate(-245px, 0);
}

@media (max-width: 768px) {
  .app-header.storyline-active {
      transform: translate(0, -200%);
  }
}

#locationbox {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
  pointer-events: none;
}
#locationbox.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s linear;
}

.header-logo {
  height: 30px;
  width: auto;
  transition: height 0.3s ease;
}

@media (min-width: 1024px) {
  .header-logo {
    height: 40px;
  }
}
